body {
	background-color: #fffefc;
}
.container {
	margin: 0 auto;
	width: 80%
}
.group {
	width: 100%
}
.button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid #af9818;
	color: #af9818;
	font-weight: bold;
	margin: 3px 3px;
	padding: 14px 9px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.2);
}
.button:hover {
	color: #ffffff;
	background-color: #af9818;
}
.button:active, .btn-active {
	color: #ffffff;
	border: 1px solid transparent;
	background-color: #d3b614;
	box-shadow: 1px 0 8px 0 rgba(252,255,48,.5), 0 1px 5px 0 rgba(252,255,48,.2);
}